.clients-list {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.clients-list-item {}

.clients-list-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 92px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    transition: fill var(--transition-duration-and-func), border var(--transition-duration-and-func);
}

.clients-list-link:hover .clients-list-icon,
.clients-list-link:focus .clients-list-icon {
    fill: #2196F3;
}

.clients-list-link:hover,
.clients-list-link:focus {
    border: 1px solid #2196F3;
    border-radius: 4px;
}


.clients-list-icon {
    fill: #AFB1B8;
}