.page-header {
    display: flex;
    align-items: center;
}

.header {
    border-bottom: 1px solid #ECECEC;
}

.page-nav {
    display: flex;
    align-items: center;
}

.logo {
    margin-right: 93px;
    padding-top: 24px;
    padding-bottom: 25px;
}

.logo-link {
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--quaternary-text-color);
}

.logo-heater {
    color: var(--primary-text-color);
}

.menu {
    display: flex;
    align-items: center;
}

.menu-item:not(:last-child) {
    margin-right: 50px;
}

.menu-link {
    position: relative;
    display: block;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
    list-style: none;
    text-decoration: none;
    padding-top: 32px;
    padding-bottom: 32px;
    display: block;
    transition: color var(--transition-duration-and-func);

    &:hover,
    &:focus {
        color: var(--quaternary-text-color);
    }

    &.current {
        color: var(--quaternary-text-color);
    }
}

.current {
    display: block;
    color: var(--ternary-color);

    &::after {
        content: "";
        position: absolute;
        display: block;
        width: 100%;
        height: 4px;
        background-color: var(--ternary-bacground);
        border-radius: 2px;
        left: 0;
        bottom: -1px;
    }
}

.contact {
    display: flex;
    align-items: center;
    margin-left: auto;
    padding-top: 32px;
    padding-bottom: 32px;
}

.menu-contact:not(:last-child) {
    margin-right: 50px;
}

.contact-list {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    padding-top: 32px;
    padding-bottom: 32px;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);
    transition: color var(--transition-duration-and-func);

    &:hover,
    &:focus {
        color: var(--quaternary-text-color);
    }
}

.contact-icon {
    fill: currentColor;
    margin-right: 10px;
}