:root {
    --primary-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --ternary-text-color: #FFFFFF;
    --quaternary-text-color: #2196F3;
    --primary-background: #FFFFFF;
    --secondary-background: #2F303A;
    --ternary-bacground: #2196F3;
    --quaternary-bacground: #000000;
    --quinary-bacground: #F5F4FA;
    --primary-color: #EEEEEE;
    --secondary-color: #FFFFFF;
    --ternary-color: #2196F3;
    --transition-duration-and-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}